body{
    background-color: black;
}
#head::before{
    content: "DRIVERS' CLUB";
    position: fixed;
    font-size: 100px;
    font-family: 'Gill Sans';
    font-weight: 600;
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
    background: rgb(11, 11, 17,.4);
}
li{
    font-weight:900;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.2);
}
.overlay {
    position: fixed;
    top: 10px;
    bottom: 0px;
    left: center;
    right: center;
    width: 100%;
    transition: .6s ease;
}
li a:hover{
    color: black;
}
li a{
    color: rgb(234, 234, 241);
}
#h2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: aliceblue;
    font-size: 40px;
    font-weight: 500;
    font-family: serif;
}
#contp p{
    font-size: 20px;
    font-family: 'Questrial';
    font-weight: 500;
    padding-top: 5px;
    margin-top: 5px;
    color: aliceblue;
}
.well{
    background-color: black;
    margin-bottom: 40px;
    border-color: black;
    -webkit-box-shadow: 4px 2px 25px 3px rgba(237, 237, 237, 1);
    -moz-box-shadow: 4px 2px 25px 3px rgba(237, 237, 237, 1);
    box-shadow: 4px 2px 25px 3px rgba(237, 237, 237, 1);
}
.panel{
    background-color: black;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
#contp p::first-letter{
    font-size:30px;
}
#hed{
    font-family: cambria;
    font-size: 40px;;
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 8px;
    margin-bottom: 4px;
}
#austin {
    display: none;
}
#bright {
    display: none;
}
#james {
    display: none;
}
#sam {
    display: none;
}
#umar {
    display: none;
}
#christine {
    display: none;
}
#juliet {
    display: none;
}
#amani {
    display: none;
}
#row2{
    color: aliceblue
}
#row2:hover{
    cursor: pointer;
}