#head::before{
    content: "DRIVERS' CLUB";
    position:absolute;
    font-size: 100px;
    font-family: 'Gill Sans';
    font-weight: 600;
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 350px;
    background: rgb(11, 11, 17,.4)
}
li{
    font-weight:900;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.2);
}
.overlay {
    position: fixed;
    top: 10px;
    bottom: 0px;
    left: center;
    right: center;
    width: 40%;
    transition: .6s ease;
}
li a:hover{
    color: black;
}
li a{
    color: rgb(234, 234, 241);
}
#h2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: aliceblue;
    font-size: 40px;
    font-weight: 500;
    font-family: serif;
}
.container p{
    font-size: 22px;
    font-family: 'Questrial';
    font-weight: 500;
    padding-top: 5px;
    margin-top: 5px;
}
.container p::first-letter{
    font-size:30px;
}
#hed{
    font-family: cambria;
    font-size: 30px;
    display: flex;
    justify-content: center;
}